@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


body, html {
    background-color: #171717;
    width: 100%;
    height: 100%; 

    padding: 0%;
    margin: 0%;
}


main {
    width: 100%; 
    height: 1vh; 

    padding: 0%;
    margin: 0%;

    background-color: #d00000; 
    background-image: url(../img/mainbg.png);
    box-shadow: 5% 2% 2% black;
    font-family: 'Raleway', sans-serif;
    text-align: center; 

    color: #ff000000;
    text-shadow: 0.2em 0.1em 0.3em #00000000;
    font-size: 3.7em;
    
    position: fixed;
    z-index: 3;
    transition: height 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
} 
main:hover {
    height: 25vh; 
    color: #ff0000;
    text-shadow: 0.2em 0.1em 0.3em #000000;
}

#titl {
    margin: 0%; 
    padding: 0%; 

    padding-top: 8vh;
    filter: drop-shadow(10px 5px 10px rgb(255, 0, 0));
} 

#perfildiv { 
    width: 8%; 
    height: 60%; 

    background-color: rgba(250, 235, 215, 0); 

    position: relative; 
    bottom: 70%; 

    border-radius: 1em 1em; 
    opacity: 0;
    transition: opacity 0.2s ease;
} 

#perfilbtn { 
    width: 100%; 
    height: 100%; 

    scale: 0.9;
    transition: scale 0.5s ease; 

    cursor: pointer; 
    user-select: none;
} 

#perfilbtn:hover { 
    scale: 0.8;
}

#sep { 
    width: 100%; 
    height: 25vh; 

} 

#bgscroll { 
    width: 80%; 
    height: 70vh;  

    margin-left: 10%; 

    border-radius: 1em 1em 1em; 

    box-shadow: 0.3em 0.5em 0.3em black;
    background-image: url(../img/blackbg.png);
} 

#divcns { 
    width: 100%; 
    height: 100%; 


    display: flex;
    flex-wrap: wrap; 
    overflow-y: scroll;
} 

.canaldiv { 
    width: 30%; 
    height: 90%; 
    display: flex;
    align-content: center; 
    justify-content: center; 

    border-radius: 1em 1em 1em;
    margin-top: 2.5%;
    margin-left: 2.5%;
    background-image: url(../img/mainbg.png);
    background-color: #940000;
    box-shadow: 0.4em 0.4em 0.4em black; 

    transition: scale 0.5s ease,background-image 0.5s ease; 

    cursor: pointer; 
    user-select: none;
} 

.canaldiv:hover { 
    scale: 1.1; 
    background-image: none;
}

.imgcn { 
    width: 90%; 
    height: 60%; 

    text-align: center; 

    border-radius: 1em 1em 1em;
} 

.brtimg { 
    width: 100%; 
    height: 100%; 

    margin-top: 2%;
    border-radius: 1em 1em 1em;
}

#playerdiv {
    position: fixed; 
    width: 100%; 
    height: 100%; 

    background-color: #000000df; 
    z-index: 10;  

    align-content: center; 
    justify-content: center;  

    visibility: hidden;
} 

#playerbg { 
    width: 90%; 
    height: 80%; 

    background-image: url(../img/mainbg.png); 

    position: relative; 

    left: 5%; 

    border-radius: 1em 1em 1em; 
    box-shadow:  0.5em 0.5em 0.5em black;
} 

#sairbtn { 
    width: 3%; 
    height: 7%; 

    background-color: rgb(255, 0, 0); 

    border-radius: 0.3em 0.3em 0.3em; 

    text-align: center; 
    justify-content: center; 
    align-content: center; 
    color: white; 

    font-size: 200%; 

    user-select: none; 

    cursor: pointer; 

    transition: all 0.5s ease;
} 

#sairbtn:hover { 
    background-color: green; 
    scale: 1.1;
}
