@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


body, html {
    background-color: #171717;
    width: 100%;
    height: 100%; 

    padding: 0%;
    margin: 0%;
}

#firstdiv { 
    width: 100%; 
    height: 40%; 


    align-content: center;
    justify-content: center; 
    display: flex; 
    flex-wrap: wrap;
    
} 

#perfildiv { 
    width: 100%; 
    height: 45%; 

    margin-top: 2%; 

    text-align: center;
} 

#perfilimg { 
    width: 10%;
    height: 90%;
} 

#usernamediv { 
    color: aliceblue; 
    font-size: 2.4em; 

} 

#seconddiv { 
    width: 100%; 
    height: 20%;  

    align-content: center; 
    justify-content: center; 
    display: flex;
} 

#loginbutton {
    width: 22%; 
    height: 50%; 

    border-radius: 1em 1em 1em; 

    font-size: 130%;
    text-align: center; 
    align-content: center; 
    justify-content: center; 
    background-color: darkred; 
    margin-top: 3%; 

    cursor: pointer; 
    user-select: none; 

    transition: scale 0.3s ease; 

    color: white;
} 

#loginbutton:hover { 
    scale: 0.9;
}

#threediv { 
    width: 100%; 
    height: 20%;  

    align-content: center; 
    justify-content: center; 
    display: flex;
} 

#backbutton {
    width: 22%; 
    height: 50%; 

    border-radius: 1em 1em 1em; 

    font-size: 130%;
    text-align: center; 
    align-content: center; 
    justify-content: center; 
    background-color: darkred; 
    margin-top: 0%; 

    cursor: pointer; 
    user-select: none; 

    transition: scale 0.3s ease; 

    color: white;
} 

#backbutton:hover { 
    scale: 0.9;
}

